.login-wrapper{
    background: #ffbaba;
    height: 100%;
    padding: 24px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-center{
    max-width: 420px;
	background-color: #fff;
	border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}


.webt-icon {
	margin: 0 auto 10px;
	position: relative;
}
.webt-icon img{
	width: 100%;
}
