<div class="login-wrapper">
    <div class="box-center p-3 p-md-5 text-center shadow">
        <div class="webt-icon">
			<img src="images/mobgif.gif" alt="">
		</div>
        <h5 class="">Verify Account</h5>
        <h6 class="">Mobile verification has successfully done</h6>
        <p class="">We have send the OTP on {{this.msisdn}} will apply auto to the fields</p>
        <div class="login-form d-flex flex-column gap-3">
            <input type="text" class="form-control form-control-lg py-2 fs-6 border-2 border-warning rounded-pill" placeholder="Enter OTP" [(ngModel)]="otpmodel">
            <div class="login-form d-flex gap-2">
                <button type="button" class="btn btn-dark w-100 form-control-lg py-2 fs-6 rounded-pill" (click)="onVerify()">Continue</button>
            </div>
        </div>
        <p class="mt-3">If you didn't receive a code <span role="button" class="text-primary">Resend</span></p>
    </div>
</div>